{% extends "base.html" %}

{% block titulo %}
<title>Perritos</title>
{% endblock titulo %}


{% block contenido %}
<h1> 
    Perritos
</h1>

<a href="{% url 'crear_perritos' %}">Crear perrito</a>
<br><br>

<table class="table">
    <tbody>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Raza</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for perrito in object_list %}
    <tr>
        <td>{{ perrito.id }}</td>
        <td>{{ perrito.nombre }}</td>
        <td>{{ perrito.raza }}</td>
        <td>
            <a href="{% url 'ver_perritos' perrito.id %}">Ver</a>
        </td>
        <td>
            <a href="{% url 'editar_perritos' perrito.id %}">Editar</a>
        </td>
        <td>
            <a href="{% url 'eliminar_perritos' perrito.id %}"></a>
                <i class="bi bi-trash"></i>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}





